.card {
  width: 100px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-right: 5px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  line-height: 150px;
}
  
.card-number {
  font-size: 24px;
  color: black;
}
  
.card-suit {
  font-size: 24px;
  color: black;
}

.card:hover{
  background-color: yellow;
}
  
.card.hidden {
  background-color: #888;
}

.card.hidden:hover{
  background-color: blue;
}
  
button {
  margin-top: 10px;
  font-size: 16px;
  padding: 5px 10px;
}

.game{
  margin-top: 150px;
  align-self: center;
}

.card-container {
  display: flex;
  justify-content: center;
}
  
.horizontal {
  flex-direction: row; 
}

.buttons-container {
  display: flex;
  justify-content: center;
}

body{
  background-color: #154d33;
}
  